<div class="Navbar" style="display: flex">
  <div class="Navbar__Link Navbar__Link-brand" style="padding: 10px">
    <strong>Book Store </strong>
  </div>
  <div class="Authors" style="padding: 10px">
    <%= link_to "Authors", authors_path %>
  </div>
  
  <div class="Navbar__Link" style="padding: 10px">-- Link --</div>  
</div>