<div id="<%= dom_id account %>">
  <p>
    <strong>Account number:</strong>
    <%= account.account_number %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= account.supplier_id %>
  </p>

</div>
